.App{
    width: 1200px;
    margin: 0 auto;
    display: grid;

    grid-template-areas:
            "header header"
            "homePage personalPage";
    grid-template-rows: 120px 1fr;
    grid-template-columns: 8fr 4fr;
    /*text-align: center;*/

}