.sideBar {
  background-color: #b8daff;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  padding: 10px;
}

.navLink {
  text-decoration: none;
  color: white;

}