.header-container{
    margin: 0 0 10px 0;
    padding: 15px 20px;
    background-color: lightgray;
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}